@font-face {
    font-family: "ABC ROM Mono Unlicensed Trial";
    src: url("fonts/ABCROMMono-Light-Trial.otf") format("truetype");
  }
  @font-face {
    font-family: "ABC ROM Mono Bold";
    src: url("fonts/ABCROMMono-Bold-Trial.otf") format("truetype");
  }

  @font-face {
    font-family: "ABC ROM Condensed Regular Trial";
    src: url("fonts/ABCROMCondensed-Regular-Trial.otf") format("opentype");
  }

@font-face {
    font-family: "ABC ROM Reg";
    src: url(fonts/ABCROM-Regular-Trial.otf) format("opentype");
}

@font-face {
  font-family: "ABC ROM Light";
  src: url(fonts/ABCROM-Light-Trial.otf) format("opentype");
}

  body {
    background-color: rgb(178, 61, 178);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* Arrange children in a column */

  }

  a:link, a:visited {
    color: rgb(0, 0, 0); /* Or whatever color you prefer */
    text-decoration: none; /* This removes the underline from links if you want that */
  }

  
  a:active {
    color: navy; /* Optional: Changes color when the link is being clicked */
  }


  .right-side {
    display: flex;
    flex-direction: column;
    /* Stack filters and grid vertically */
    position: relative;
  }

  .top-header {
    position: fixed; /* Keeps the header at the top on scroll */
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff; /* Or any other color */
    z-index: 1000; /* Ensure it's above other content */
    justify-content: space-between; /* Adjusts the space between items */
    align-items: center; /* Vertically aligns items in the center */
    padding: 0px; /* Add some space around the content */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow for depth */
  }

/* Style for the menu button */
#menu-button {
  cursor: pointer;
  background-color: #000; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding-left: 20px; /* Increase padding for larger clickable area */
  padding-top: 10px; /* Increase padding for larger clickable area */
  padding-bottom: 10px; /* Increase padding for larger clickable area */
  padding-right: 20px; /* Increase padding for larger clickable area */
  font-family: "ABC ROM Mono Unlicensed Trial", sans-serif;
  font-size: 1rem; /* Use responsive font sizing */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for color change */
  display: inline-block; /* Ensures that padding and dimensions are respected */
  text-align: center;
  width: auto; /* Ensures the button width is as wide as its content plus padding */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  z-index: 10; /* Ensure it is above other content but adjust as needed */
}

#menu-button:hover {
  background-color: #fff; /* Button hover background color */
  color: #000; /* Button hover text color */

}

#home-button {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  padding: 10px 20px;
  background-color: #0077FF; /* Button background color */
  color: white; /* Button text color */
  text-decoration: none; /* Remove underlines from links */
  border: none;
  cursor: pointer;
  z-index: 1000; /* Ensure it's above other elements */
}

  .side-nav {
    flex: 0.25;
    /* Take up 25% of the parent's height */
    width: 25%;
    /* Take up 25% of the parent's width */
    background-color: #000000;
    color: #fff;
    font-family: "ABC ROM Mono Unlicensed Trial";
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    overflow-y: scroll;
    padding: 0;
    box-sizing: border-box;
    padding: 20px;

    display: flex;
    /* Set it as a flex container */
    flex-direction: column;
    /* Arrange children vertically */
    justify-content: space-between;
    /* Push .web-player to the bottom */


  }
  /* When active, slides the side navigation into view */


  .stars {
    display: block;
    /* ensures the stars are on their own line */
    margin: 15px 0;
    /* adds some margin above and below the stars for spacing */
    letter-spacing: 3px;
    overflow: hidden;
    width: 95%;
    /* adds space between individual stars */

  }

  .side-nav-links a {
    display: block;
    /* makes each link occupy its own line */
    color: #fff;
    /* color of the link, setting it to white */
    text-decoration: none;
    /* removes underlines */
    margin-bottom: 5px;
    /* add space below each link */
  }

  .side-nav-links {
    margin-bottom: 15px;
    /* Adjust the value as needed */
  }

  .side-nav-links a:hover {
    text-decoration: underline;
    /* keeps the color white even when hovered */
  }

  .side-nav-paragraph {
    margin-top: 30px;
    /* Add some margin for spacing */
    margin-bottom: 30px;
    /* Add some margin for spacing */
  }

  .side-nav-info {
    margin-bottom: 10px;
    /* Push the info to the bottom */
  }

  .soundcloud-player-button {
    background-color: transparent;
  }

  .content-container {
    position: relative;
    width: 75%;
    /* set the width of the content to 75% of the viewport */
    margin-left: 25%;
    /* push content to the right, leaving space for the side nav */
    /* set as a reference for absolute positioning of children */
  }

  .about-content-container {
 
background-color: #2e5ec0;
    position: relative;
    width: 75%;
    /* set the width of the content to 75% of the viewport */
    margin-left: 25%;
    /* push content to the right, leaving space for the side nav */
    /* set as a reference for absolute positioning of children */
  }

.about-text{
  font-family: "ABC ROM Reg";
  color:#000;
  font-size: 45px;
  line-height: 1.1;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

  .grid-container {
    width: 100%;
    column-count: 4;
    column-gap: 10px;
    padding: 20px;
    box-sizing: border-box;
  }

  .grid-item {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    /* Set the initial background color to transparent */
    transition: background-color 0.3s, color 0.3s;
    /* Add a smooth transition effect */
    break-inside: avoid-column;
  }

  .grid-item a {
    position: relative;
    display: block;
    color: #fff;
    /* Text color when not hovered */
    text-decoration: none;
    transition: color 0.3s;
    /* Add a smooth transition effect for text color */
  }

  .grid-item img {
    width: 100%;
    display: block;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    filter: brightness(1);
  }
/* Popup Styles */

 .popup-overlay {
  position: fixed; /* Stays in place during scroll */
  top: 25%;
  display: none; /* Make sure to toggle this with JavaScript */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #000000;
  overflow-y: auto; /* Allows scrolling within the popup if content is too long */
  max-height: 80vh; /* Adjust the height as needed */
  margin-left: 20px; /* Half of the total horizontal margin */
  height: 55vh;
  margin-right: 20px; /* Half of the total horizontal margin */
  z-index: 99999;
}

.popup-content {
  box-sizing: border-box; /* Include padding in the width */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  width: 100%; /* Full width of the parent .popup-overlay */
  padding-left: 20px; /* Padding inside the popup */
  padding-right: 50px; /* Padding inside the popup */
  padding-top: 10px; /* Padding inside the popup */

  height: auto; /* Height based on content plus padding */
  height:100%
;  overflow-y: auto; /* Scroll if content is too long */
  position: relative; /* Relative to the .popup-overlay */
  background: #000000; /* Background color of the popup content */
  z-index: 1001; /* Stack above other content but below the overlay */
}

.close-btn {
  position: absolute; /* Position the button absolutely within the popup */
  top: 10px; /* Adjust the value to suit your design */
  right: 10px; /* Adjust the value to suit your design */
  z-index: 1002; /* Ensure it's above the popup content */
  cursor: pointer;
  color: #fff;
  background: none;
  font-size: 30px;
  font-family: ABC ROM Reg;
  /* ...other styles... */
}
.close-btn:hover {
  color: #2e5ec0;
  /* ...other styles... */
}

#songTitle{
  font-size: 90px;
  font-family: "ABC ROM Light";
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
  margin-top: 10px;
  color: white;

}
#popupImage1{
padding: 10px;
  height: 100%;

}
#popupImage2{
  padding: 10px;
  height: 100%


 

}

#songImages{
  display: flex;
  justify-content: space-between; /* Distribute space equally between child divs */  
}

.song-description{
  font-family: "ABC ROM Light";
  color:#ffffff;
  font-size: 40px;

  margin: 10px;
  line-height: 1.2;

}

#songAuthor{
  font-size: 26px;
  font-family: "ABC ROM Mono Unlicensed Trial";
  color: white;

  margin: 10px;
  line-height: 1;
}
.image-container img {
  max-width: 100%; /* Adjust the percentage as needed */
  height: auto; /* Maintain the image's aspect ratio */
  flex: 1; /* Distribute available space equally between images */
}







/* Ensure the cursor changes to a pointer when hovering over clickable elements */
.clickable {
  cursor: pointer;
}
#playButton{
margin-top: 5px;}


h1{
  font-family: "ABC ROM Condensed Regular Trial";
  color: #fff;

}
h2{
 
    font-family: "ABC ROM Condensed Regular Trial";
    color: #fff;
  }

p{
  font-family: "ABC ROM Reg";
  color: #fff;
}

.main-image, .supporting-image {
  width: 100%; /* Make images responsive */
  height: auto;
  margin-bottom: 20px; /* Add some space below images */
}

.introduction {
  font-weight: bold;
  margin-bottom: 20px; /* Add some space below the paragraph */
}

.dummy-text {
  margin-bottom: 20px; /* Add some space below each dummy text paragraph for better readability */
}


/* Base styles for the mobile nav, hidden by default */
.mobile-nav {
  display: none; /* Hide by default */
  position: fixed; /* Positioning it over the main content */
  top: -100%; /* Start off-screen */
  left: 0;
  right: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height to cover the entire viewport */
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  z-index: 1000; /* Ensure it's above other content */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  transition: top 3s; /* Animate the top property */
}

.mobile-nav.active {
  display: flex; /* Display as flexbox only when active */
  top: 0; /* Slide in to view */
}

/* Close button inside the mobile nav */
.mobile-nav .close-btn {
  align-self: flex-end;
  font-size: 2rem;
  margin: 1rem;
}
.mobile-nav-links{
  color: white;
  font-family: "ABC ROM Reg";

}

.mobile-nav-links a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.mobile-nav-links a {
  display: block; /* Make each link a block to occupy its own line */
  margin: 5px 0; /* Add some vertical spacing */
  color: #fff; /* Text color for the links */
  text-decoration: none; /* Remove underlines from links */
  font-size: 2em; /* Increase the font size */
  padding: 5px;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.filters {
  position: sticky;
  /* Start out as absolute */
  top: 10px;
  /* Position at the top */
  left: 0;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 999;
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap; /* Allow the buttons to wrap as needed */
  justify-content: flex-start; /* Space out the buttons evenly */
  align-items: flex-start; /* Align buttons to the top */
  gap: 7px; /* Optional: add a gap between buttons */
}

.filter-button {
  flex: 0, 0, auto; /* Prevent buttons from growing */
  padding: 10px 20px; /* Adds padding inside the button */
  height: 50px;
  background-color: #000; /* Sets the background color of the button */
  color: #fff; /* Sets the text color of the button */
  border: none; /* Removes the border */
  border-radius: 0px; /* Makes the corners rounded */
  cursor: pointer; /* Changes the cursor to a hand when hovering over the button */
  text-align: left; /* Aligns the text to the left */
  display: inline-block; /* Allows multiple buttons to be on the same line */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  text-transform: uppercase;
  font-family: ABC ROM Mono Unlicensed Trial;
}

  .filter-button:hover {
background-color: #fff; /* Inverts background color */
color: #000; /* Inverts text color */
}
  .clear-button {
    background-color: #fff;
    /* Set the background color to white */
    color: #000;
    /* Set the text color to black */
    border: none;
    /* Optional: Add a black border */
  }

  .clear-button:hover {
    color: white;
    
    background-color: #000000;
    /* Set a different background color when hovered */
  }
  #filters.sticky {
    position: sticky;
    top: 0;
  }
  


  .grid-item:hover .overlay {
    display: flex;
   
  }


  .overlay {
    box-sizing: border-box;
    /* Added to ensure padding doesn't increase size */
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    display: none;
    background: #2e5ec0;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    /* Adjusted opacity for visibility */
    color: #fff;
    /* Text color on overlay */
    transition: background-color 0.3s;
    z-index: 100;
    /* Add a smooth transition effect for background color */
  }

  .grid-title {
    font-family: "ABC ROM Condensed Regular Trial";
    color: #000000;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 0.9;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    /* Add this line to adjust the margin bottom */
    overflow: hidden;
  }
  .grid-name-year {
  font-family: "ABC ROM Mono Unlicensed Trial";
  color: #000000;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  }

  .grid-description{
    font-family: "ABC ROM Reg";
    font-size: 16px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .title-name-container{
    margin-bottom: 20px;
  }

  /* Blinking animation for "NOW PLAYING" and track title */
  @keyframes blink {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .currently-playing {
    animation: blink 2s infinite;
    /* Adjust the duration and timing as needed */
  }


  .web-player {
    width: 100%;
    border-radius: 10px;

    background-color: transparent;
    /* Set a transparent background */
    z-index: 99999;
  }


  button {
    border: none;
  }



  .soundcloud-player-button {
    /* background-color: #7e7e7e; */
    /* background color */
    /* Remove borders */
    padding: 0;
    /* Remove padding */
    box-shadow: none;
    /* Remove shadow */
    outline: none;
    /* Remove outline on focus */

    border-radius: 10px;

  }

  .white-line{
    height: 2px; 
    width: 95%; 
    background-color: white;
    margin-top: 10px;
  }

  .play-button {
    border: rgb(131, 0, 0);
    outline: solid;
    cursor: pointer;
  }

  /* Change the color of the play icon */
  .play-icon path {
    fill: #2e5ec0;
    /* Change the fill color to green */
  }

  /* Change the color of the stop icon */
  .stop-icon path {
    fill: red;
    /* Change the fill color to red */
  }

  .highlighted {
    padding: 0; /* Eliminate padding which can increase the block size */
    margin: 0;
    font-size: inherit; /* Make sure font-size is not too large, causing it to wrap */
    background-color: rgb(178, 61, 178); /* Maintain your highlight color */
    box-sizing: border-box; /* Content-box can also be tried if border-box doesn't work */
  }

  .citations {
    display: grid;
    grid-template-columns: 1fr; /* Only one column now */
    padding-left: 20px;
    padding-right: 20px;
    font-family: "ABC ROM Reg";
    font-size: 26px;
    gap: 10px;
   
  }
  /* Underline spans on hover within the about-text class */
.about-text span[id^="ref-"]:hover {
  text-decoration: underline;
  cursor: pointer;
}
  .citation {
    /* No display property needed; it's a grid item */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* First column auto width, the other two share the remaining space */
    align-items: center; /* Vertically center aligns the content of all cells */

  }
  
  .citation:hover {
text-decoration: underline;  }


  .citation-number{
padding-right: 20px;
  }
  .citation-author,
  .citation-title,
  .citation-year {
    
  }
  
  /* Optional: Add some styling for the citation text */
  .citation-author,
  .citation-title,
  .citation-year {
    text-align: left;
  }


@media (max-width: 768px) { /* Adjust the max-width as needed for your mobile breakpoint */

 .content-container {
   position: relative;
   width: 100%;
   /* set the width of the content to 75% of the viewport */
   margin-left: 0;
   /* push content to the right, leaving space for the side nav */
   /* set as a reference for absolute positioning of children */
 }
 #filters {
   overflow-x: auto; /* Allows horizontal scrolling */
   white-space: nowrap; /* Prevents wrapping of filter buttons */
   display: flex; /* Keeps the buttons in line */
   flex-wrap: nowrap; /* Prevents wrapping of items */
   gap: 7px; /* Optional: Adjust or remove the gap if needed */
   margin-top: 0px; /* Adjust the margin as needed */
   margin-bottom: 10px; /* Adjust the margin as needed */
   padding: 50px 0; /* Adds padding to the top and bottom */
 }
.side-nav{
  display: none;
}
 .grid-container {
   width: 100%;
   column-count: 2;
   column-gap: 7px;
   padding: 20px;
   box-sizing: border-box;
   margin-top: -65px;  
 }
 .filter-button {
   display: inline-block; /* Ensures buttons line up horizontally */
   flex: 0 0 auto; /* Prevents the buttons from growing or shrinking */
 }

 .top-header {
   display: flex; /* Now display the header on small screens */
   height: auto;
   background-color: black;
   margin-bottom: 100px;

   /* ... other styles ... */
 }

 
 .side-nav-links.active {
   display: flex; /* Show as flexbox when active */
 }
 
}


/* 3d styles */

#home-button {
  position: fixed; /* Fixed position relative to the viewport */
  font-family: "ABC ROM Mono Bold";
  text-transform: uppercase;
  left: 1vw; /* Align to the left */
  top: 96vh; /* Align to the bottom */
  z-index: 10; /* Ensure the button is above other elements */
  background-color: #0079f1; /* Background color for the button */
  color: #000000; /* Text color for the button */
  padding: 0.5em 1em; /* Top and bottom padding of 0.5em, left and right padding of 1em */
  cursor: pointer; /* Change cursor to indicate clickable */
  font-size: 1rem; /* Default font size, adjust as needed */
}

#home-button:hover {
  background-color: #fff; /* Change background color on hover */
  color: #000000; /* Change text color on hover */
}